<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name ="DiscuzWhiteTest">
    <parameter name="Browser" value="firefox"/>
    <test name="product">
        <classes>
            <!--<class name="TestCrossBrowser"/>-->
            <!--<class name="TriangleTest"></class>-->
            <!--<class name="TestExcalDDT"></class>-->
            <class name="ReadExcel"></class>


        </classes>
    </test>
</suite>